.del {
    height: 20px;
    background: red;
    color: white;
    border:none ; 
    padding : 5px 9px ;
    border-radius: 50%;
    cursor: pointer;
    float : right ; 
}

.todo{
    background: whitesmoke;
    padding: 10px ;
    border-bottom: 1px #ccc dotted;
}

.is-complete{ 
    text-decoration :line-through;
}